$cell-size: 60px;

.cell-row {
    display: flex;
    flex-direction: column-reverse;
}

.cell {
    width: $cell-size;
    height: $cell-size;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;

    &.empty {
        background-color: white;
    }

    &.p0 {
        background-color: yellow;
    }

    &.p1 {
        background-color: red;
    }

    &.p2 {
        background-color: green;
    }

    &.p3 {
        background-color: black;
    }
}
