.cell {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;

    &.empty {
        background-color: white;
    }

    &.p0 {
        background-color: yellow;
    }

    &.p1 {
        background-color: red;
    }
}